* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
$border : 1px solid rgb(14, 192, 133);
$margin : 5px 10px 15px 15px;
$block : block;
$none : none;
$fontheader : 14px;
$pointer : pointer;
$center : center;
@mixin slider {
    position: relative;
}
@mixin height {
    background-size: cover;
    height: 800px;
}
@mixin lineanimation {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin-top: 10px;
    background: rgb(14, 192, 133);
    transition: width .3s;
}
@mixin menu {
    padding-top: 40px;
    color: white;
    font-size: $fontheader;
}
@mixin menutext {
    font-size: $fontheader;
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border : 1px solid black;
    position: absolute;
    z-index: 1;
    padding : 5px;
    margin-top: 20px;
    transition: opacity 0.3s;
}
@mixin menuhover {
    visibility: visible;
    opacity: 1;
}
@mixin cleander {
  display: flex;
  flex-direction: column;
  background-color: #1F1F2C;
  border: 1px solid #1f1f2c !important;
  width: 350px;
  height: 85px;
  color: white;
  text-align: center;
  margin-top: 10px;
}
@mixin black-area {
  position: absolute;
  display: inline-flex;
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
}
@mixin  banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 550px;
  width: 400px;
}
.container{
    @include slider;
    width: 1350px;
}
.the_slider{
    @include slider;
    overflow: hidden;
    width: 1350px;
    height: 900px;
}

.the_slider .s_slide{
    @include slider;
    float: left;
    background-repeat: no-repeat;
}

.the_slider .s_slider_container{
    @include slider;
    cursor: $pointer;
}

.the_slider .s_slider_container:active{
    cursor: -webkit-grabbing
}

.the_slider .s_slide_0{
    background-image: url('./slider_n_1.jpg');
    @include height;
}

.the_slider .s_slide_1{
    background-image: url('./slide_n_2_o.jpg');
    @include height;
}
.the_slider .s_slide_2{
    background-image: url('./spa.jpg');
    @include height;
}
.header {
    position: absolute;
    width: 1350px;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}
.picture {
    width: 100px;
    height: 50px;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
}
.book-now {
    padding-top: 30px;
    padding-left: 980px;
}
.men-right {
    visibility: visible;
}
.mainbar {
    display: flex;
    flex-direction: row;
}
#btn {
    background-color: #c5bc58;
    color: #fff ;
    font-weight: 400;
    text-align: $center;
    padding: 8px 24px;
    font-size: 13px;
    line-height: 1.5;
    border: 1px #c5bc58 solid;
    cursor: $pointer;
    transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    display: block;
    position: relative;
}
// #btn::after{
//   display: block;
// 	position: absolute;
// 	height: 0px;
// 	width: 100%;
// 	z-index: -1;
// 	content: '';
// 	color:#c5bc58  !important;
//   transform: scaleY(0);
//   transition-timing-function: ease-out;
//   transform-origin: 50% 100%;
//   transition-property: transform;
//   transition-duration: .3s;
// }
// #btn:hover::after {
// 	top: auto;
// 	height: 100%;
// }
.Extra {
    padding-left: 22px;
    color: white;
}
.menu {
    display: inline-block;
    cursor: $pointer;
    padding-left: 18px;
    padding-top: 35px;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 1px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  .sidenav {
    font-size: 13px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow: scroll;
    transition: 0.5s;
    padding-top: 60px;
  }
  .black-slide {
    padding-top: 50px;
    padding-left: 35px;
    height: 77vw;
  }
  .high-level a::after {
    @include lineanimation;
  }
  .high-level a:hover::after {
    width: 90%;
  }
  .black-slide a {
    padding-bottom: 20px;
  }
  .low-level {
    padding-left: 33px;
  }
  .high-level::after {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 60px;
    background: grey;
  }
  .p-blacklist {
    color: white;
  }
  .phone {
      color: white;
      padding-top: 10px;
  }
  .phone-icon::after {
    content: "\f095";
  }
  .email {
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }
  .email-icon::after {
    content: "\f0e0";
    display: inline-block;
  }
  .txt-email {
      display: inline-block;
      font-size: medium;
  }
  .sidenav a {
    text-decoration: $none;
    color: white;
    display: $block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    margin-top: -18px;
    right: 25px;
    font-size: medium;
    margin-right: 170px;
    
  }
  .dropdown-content {
    display: $none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    height: 140px;
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    text-decoration: $none;
    display: $block;
  }
  .dropdown:hover .dropdown-content {display: $block;}
  .light {
    margin: $margin;
    border-bottom: $border;
    font-size: $fontheader;
    cursor: $pointer;
  }
  .light::after {
    @include lineanimation;
}
  .dark {
    margin: $margin;
    font-size: $fontheader;
    cursor: $pointer;
  }

.dark::after {
    @include lineanimation;
}

.dark:hover::after {
    width: 100%;
}
  .dropbtn {
    padding-top: 6px;
    text-decoration: $none;
    font-size: $fontheader;
    color: white;
    display: $block;
    border: $none;
    background: $none;
    width:100%;
    text-align: left;
    cursor: $pointer;
  }
  .dropbtn::after {
    @include lineanimation;
    width: 43px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .dropdown {
      margin-left: -81vw;
      margin-top: 2.5vw;
      position: relative;
      display: inline-block;
      font-size: $fontheader;
  }
  #border {
      display: inline-block;
  }
  .rooms {
    @include menu;
    padding-left: 30px;
    cursor: $pointer;
  }
  .roomstext {
    @include menutext;
  }
  .rooms:hover .roomstext {
    @include menuhover;
  }
  .rooms::after {
    @include lineanimation;
  }
  .rooms:hover::after {
    width: 100%;
  }


  .loc {
    padding-left: 40px;
    @include menu;
    cursor: $pointer;
  }
  .loctext {
    @include menutext;
  }
  .loc:hover .loctext {
    @include menuhover;
  }
  .loc::after {
    @include lineanimation;
  }
  .loc:hover::after {
    width: 100%;
  }


  .activiti {
    padding-left: 45px;
    @include menu;
    cursor: $pointer;
  }
  .activititext {
    @include menutext;
  }
  .activiti:hover .activititext {
    @include menuhover;
  }
  .activiti::after {
    @include lineanimation;
  }
  .activiti:hover::after {
    width: 100%;
  }


  .res {
    padding-left: 45px;
    @include menu;
    cursor: $pointer;
  }
  .restext {
    @include menutext;
  }
  .res:hover .restext {
    @include menuhover;
  }
  .res::after {
    @include lineanimation;
  }
  .res:hover::after {
    width: 100%;
  }


  .spa {
    padding-left: 45px;
    @include menu;
    cursor: $pointer;
  }
  .spatext {
    @include menutext;
  }
  .spa:hover .spatext {
    @include menuhover;
  }
  .spa::after {
    @include lineanimation;
  }
  .spa:hover::after {
    width: 100%;
  }


  .contact {
    padding-left: 45px;
    @include menu;
    cursor: $pointer;
  }
  .contacttext {
    @include menutext;
  }
  .contact:hover .contacttext {
    @include menuhover;
  }
  .contact::after {
    @include lineanimation;
  }
  .contact:hover::after {
    width: 100%;
  }


  .more {
    padding-left: 45px;
    @include menu;
    cursor: $pointer;
  }
  .moretext {
    @include menutext;
  }
  .more:hover .moretext {
    @include menuhover;
  }
  .more::after {
    @include lineanimation;
  }
  .more:hover::after {
    width: 100%;
  }
  .black-cleander-high {
    display: flex;
    flex-direction: column;
  }
  .black-cleander-low {
    @include black-area;
    margin-left: 105px;
    margin-top: 645px;
    border: 1px solid #111118;
    background-color: #111118;
    padding-bottom: 115px;
  }
  .btn-CLEANDER {
    @include black-area;
    margin-left: 385px;
    margin-top: 800px;
    padding-bottom: 70px;
    font-size: small;
  }
  #btn-CLEANDER {
    border: 1px #6fb586 solid;
    color: #6fb586 !important;
    background-color: #111118;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .cleander-out {
    @include cleander;
    margin-left: 30px;
  }
  .cleander-in {
    @include cleander;
  }
  .background_title {
    color: black;
    position: absolute;
    font-family: Playfair Display,sans-serif;
    text-transform: uppercase;
    font-size: 140px;
    position: absolute;
    top : 84vw;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1 !important;
    pointer-events: $none;
    user-select: $none;
    opacity: 0.07;
  }
  .labal {
    margin-top: 16vw;
    text-align: $center;
  }
  .subtitle {
    margin-left: 36vw;
  }
  .svg_divider {
    text-align: $center;
    margin-top: 30px;
  }
  .wpb_wrapper {
    text-align: $center;
  }
  .vc_single_image-img {
    border: $none;
    border-radius: 100px;
    margin-left: 47vw;
    margin-top: 10px;
  }
  .wpb_wrapper {
    padding-left: 1vw;
  }
  .galery {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vw;
  }
  .spa-salon {
    background-image: url(./spa-banner.jpg);
    @include banner;
  }
  .gym {
    background-image: url(./gym-banner.jpg);
    @include banner;
    margin-left: 2.2vw;
  }
  .restaurant {
    background-image: url(./restaurant-banner.jpg);
    @include banner;
    margin-left: 2.2vw;
  }
  .hoverbox_icon {
    margin-left: 3vw;
    margin-top: 2vw;
  }
  .hoverbox_paragraph {
    color: white;
    padding-top: 19vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 18px;
    visibility: hidden;
  }
  .hoverbox_title {
    color: white;
    padding-top: 30vw;
    padding-left: 3vw;
    visibility: visible;
  }
  .lable-off {
    text-align: $center;
    padding-top: 7vw;
    font-size: 40px;
    line-height: 10px;
  }
  .txt-off {
    text-align: $center;
    margin-top: 2vw;
  }
  .off-area {
    background-image: url(./home-banner-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 400px;
  }
  #btn-off {
    border: 1px black solid;
    color: black !important;
    background-color: #f4f4f4;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-off {
    padding-left: 42vw;
    padding-top: 3vw;
    font-size: small;
  }
  .ui-datepicker-title {
    background-color: white;
  }
  .ui-widget-header{
    border: none;
    background-color: white !important;
  }