* {
  margin-top: 0;
  margin-left: 0;
}

.container {
  position: relative;
  width: 1350px;
}

.the_slider {
  position: relative;
  overflow: hidden;
  width: 1350px;
  height: 900px;
}

.the_slider .s_slide {
  position: relative;
  float: left;
  background-repeat: no-repeat;
}

.the_slider .s_slider_container {
  position: relative;
  cursor: pointer;
}

.the_slider .s_slider_container:active {
  cursor: -webkit-grabbing;
}

.the_slider .s_slide_0 {
  background-image: url("./slider_n_1.jpg");
  background-size: cover;
  height: 800px;
}

.the_slider .s_slide_1 {
  background-image: url("./slide_n_2_o.jpg");
  background-size: cover;
  height: 800px;
}

.the_slider .s_slide_2 {
  background-image: url("./spa.jpg");
  background-size: cover;
  height: 800px;
}

.header {
  position: absolute;
  width: 1350px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.picture {
  width: 100px;
  height: 50px;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 25px;
}

.book-now {
  padding-top: 30px;
  padding-left: 980px;
}

.men-right {
  visibility: visible;
}

.mainbar {
  display: flex;
  flex-direction: row;
}

#btn {
  background-color: #c5bc58;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 24px;
  font-size: 13px;
  line-height: 1.5;
  border: 1px #c5bc58 solid;
  cursor: pointer;
}

.btn:hover {
  background-color: snow;
  color: #c5bc58;
}

.Extra {
  padding-left: 22px;
  color: white;
}

.menu {
  display: inline-block;
  cursor: pointer;
  padding-left: 18px;
  padding-top: 35px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.sidenav {
  font-size: 13px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.black-slide {
  padding-top: 50px;
  padding-left: 35px;
  height: 77vw;
}

.high-level a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.high-level a:hover::after {
  width: 90%;
}

.black-slide a {
  padding-bottom: 20px;
}

.low-level {
  padding-left: 33px;
}

.high-level::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 60px;
  background: grey;
}

.p-blacklist {
  color: white;
}

.phone {
  color: white;
  padding-top: 10px;
}

.phone-icon::after {
  content: "\f095";
}

.email {
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.email-icon::after {
  content: "\f0e0";
  display: inline-block;
}

.txt-email {
  display: inline-block;
  font-size: medium;
}

.sidenav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  margin-top: -18px;
  right: 25px;
  font-size: medium;
  margin-right: 170px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  height: 140px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.light {
  margin: 5px 10px 15px 15px;
  border-bottom: 1px solid #0ec085;
  font-size: 14px;
  cursor: pointer;
}

.light::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.dark {
  margin: 5px 10px 15px 15px;
  font-size: 14px;
  cursor: pointer;
}

.dark::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.dark:hover::after {
  width: 100%;
}

.dropbtn {
  padding-top: 6px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropbtn::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
  width: 43px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown {
  margin-left: -81vw;
  margin-top: 2.5vw;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

#border {
  display: inline-block;
}

.rooms {
  padding-top: 40px;
  color: white;
  font-size: 14px;
  padding-left: 30px;
  cursor: pointer;
}

.roomstext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.rooms:hover .roomstext {
  visibility: visible;
  opacity: 1;
}

.rooms::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.rooms:hover::after {
  width: 100%;
}

.loc {
  padding-left: 40px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.loctext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.loc:hover .loctext {
  visibility: visible;
  opacity: 1;
}

.loc::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.loc:hover::after {
  width: 100%;
}

.activiti {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.activititext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.activiti:hover .activititext {
  visibility: visible;
  opacity: 1;
}

.activiti::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.activiti:hover::after {
  width: 100%;
}

.res {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.restext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.res:hover .restext {
  visibility: visible;
  opacity: 1;
}

.res::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.res:hover::after {
  width: 100%;
}

.spa {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.spatext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.spa:hover .spatext {
  visibility: visible;
  opacity: 1;
}

.spa::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.spa:hover::after {
  width: 100%;
}

.contact {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.contacttext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.contact:hover .contacttext {
  visibility: visible;
  opacity: 1;
}

.contact::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.contact:hover::after {
  width: 100%;
}

.more {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.moretext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.more:hover .moretext {
  visibility: visible;
  opacity: 1;
}

.more::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.more:hover::after {
  width: 100%;
}

/*# sourceMappingURL=project.css.map */
