* {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.container {
  position: relative;
  width: 1350px;
}

.the_slider {
  position: relative;
  overflow: hidden;
  width: 1350px;
  height: 900px;
}

.the_slider .s_slide {
  position: relative;
  float: left;
  background-repeat: no-repeat;
}

.the_slider .s_slider_container {
  position: relative;
  cursor: pointer;
}

.the_slider .s_slider_container:active {
  cursor: -webkit-grabbing;
}

.the_slider .s_slide_0 {
  background-image: url("./slider_n_1.jpg");
  background-size: cover;
  height: 800px;
}

.the_slider .s_slide_1 {
  background-image: url("./slide_n_2_o.jpg");
  background-size: cover;
  height: 800px;
}

.the_slider .s_slide_2 {
  background-image: url("./spa.jpg");
  background-size: cover;
  height: 800px;
}

.header {
  position: absolute;
  width: 1350px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.picture {
  width: 100px;
  height: 50px;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 25px;
}

.book-now {
  margin-top: 2.5vw;
  padding-left: 980px;
}

.mainbar {
  display: flex;
  flex-direction: row;
}

#btn {
  color: #fff;
}

#btn {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}
#btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c5bc58;
  z-index: -2;
}
#btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  color: #c5bc58;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
#btn:hover {
  color: #c5bc58;
}
#btn:hover:before {
  height: 100%;
}

.Extra {
  padding-left: 22px;
  color: white;
}

.menu {
  display: inline-block;
  cursor: pointer;
  padding-left: 18px;
  padding-top: 35px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.sidenav {
  font-size: 13px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.black-slide {
  padding-top: 50px;
  padding-left: 35px;
  height: 77vw;
}

.high-level a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.high-level a:hover::after {
  width: 90%;
}

.black-slide a {
  padding-bottom: 20px;
}

.low-level {
  padding-left: 33px;
}

.high-level::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 60px;
  background: grey;
}

.p-blacklist {
  color: white;
}

.phone {
  color: white;
  padding-top: 10px;
}

.phone-icon::after {
  content: "\f095";
}

.email {
  color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.email-icon::after {
  content: "\f0e0";
  display: inline-block;
}

.txt-email {
  display: inline-block;
  font-size: medium;
}

.sidenav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  margin-top: -18px;
  right: 25px;
  font-size: medium;
  margin-right: 170px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  height: 140px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.light {
  margin: 5px 10px 15px 15px;
  border-bottom: 1px solid #0ec085;
  font-size: 14px;
  cursor: pointer;
}

.light::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.dark {
  margin: 5px 10px 15px 15px;
  font-size: 14px;
  cursor: pointer;
}

.dark::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.dark:hover::after {
  width: 100%;
}

.dropbtn {
  padding-top: 6px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropbtn::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
  width: 43px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown {
  margin-left: -81vw;
  margin-top: 2.5vw;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

#border {
  display: inline-block;
}

.rooms {
  padding-top: 40px;
  color: white;
  font-size: 14px;
  padding-left: 30px;
  cursor: pointer;
}

.roomstext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.rooms:hover .roomstext {
  visibility: visible;
  opacity: 1;
}

.rooms::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.rooms:hover::after {
  width: 100%;
}

.loc {
  padding-left: 40px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.loctext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.loc:hover .loctext {
  visibility: visible;
  opacity: 1;
}

.loc::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.loc:hover::after {
  width: 100%;
}

.activiti {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.activititext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.activiti:hover .activititext {
  visibility: visible;
  opacity: 1;
}

.activiti::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.activiti:hover::after {
  width: 100%;
}

.res {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.restext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.res:hover .restext {
  visibility: visible;
  opacity: 1;
}

.res::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.res:hover::after {
  width: 100%;
}

.spa {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.spatext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.spa:hover .spatext {
  visibility: visible;
  opacity: 1;
}

.spa::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.spa:hover::after {
  width: 100%;
}

.contact {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.contacttext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.contact:hover .contacttext {
  visibility: visible;
  opacity: 1;
}

.contact::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.contact:hover::after {
  width: 100%;
}

.more {
  padding-left: 45px;
  padding-top: 40px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.moretext {
  font-size: 14px;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.more:hover .moretext {
  visibility: visible;
  opacity: 1;
}

.more::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin-top: 10px;
  background: #0ec085;
  transition: width 0.3s;
}

.more:hover::after {
  width: 100%;
}

.black-cleander-high {
  display: flex;
  flex-direction: column;
}

.black-cleander-low {
  position: absolute;
  display: inline-flex;
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  margin-left: 105px;
  margin-top: 645px;
  border: 1px solid #111118;
  background-color: #111118;
  padding-bottom: 115px;
}

.btn-CLEANDER {
  position: absolute;
  display: inline-flex;
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  margin-left: 385px;
  margin-top: 800px;
  padding-bottom: 70px;
  font-size: small;
}

#btn-CLEANDER {
  color: #6fb586;
}

#btn-CLEANDER {
  position: relative;
  text-align: center;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.3s;
  z-index: 1;
}
#btn-CLEANDER:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111118;
  z-index: -2;
}
#btn-CLEANDER:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  color: white;
  background-color: #6fb586;
  transition: all 0.3s;
  z-index: -1;
}
#btn-CLEANDER:hover {
  color: white;
}
#btn-CLEANDER:hover:before {
  height: 100%;
}

.cleander-out {
  display: flex;
  flex-direction: column;
  background-color: #1F1F2C;
  border: 1px solid #1f1f2c !important;
  width: 350px;
  height: 85px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-left: 30px;
}

.cleander-in {
  display: flex;
  flex-direction: column;
  background-color: #1F1F2C;
  border: 1px solid #1f1f2c !important;
  width: 350px;
  height: 85px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.background_title {
  color: black;
  position: absolute;
  font-family: Playfair Display, sans-serif;
  text-transform: uppercase;
  font-size: 140px;
  position: absolute;
  top: 84vw;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1 !important;
  pointer-events: none;
  user-select: none;
  opacity: 0.07;
}

.labal {
  margin-top: 16vw;
  text-align: center;
}

.subtitle {
  margin-left: 36vw;
}

.svg_divider {
  text-align: center;
  margin-top: 30px;
}

.wpb_wrapper {
  text-align: center;
}

.vc_single_image-img {
  border: none;
  border-radius: 100px;
  margin-left: 47vw;
  margin-top: 10px;
}

.wpb_wrapper {
  padding-left: 1vw;
}

.galery {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-left: 3.6vw;
  margin-right: 7vw;
  margin-top: 7vw;
}

.spaa {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 550px;
  width: 400px;
}

.gym-high {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 550px;
  width: 400px;
  margin-left: 2.2vw;
}

.restaurant-high {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 550px;
  width: 400px;
  margin-left: 2.2vw;
}

.spa-salon {
  position: relative;
}

.gym {
  position: relative;
}

.restaurant {
  position: relative;
}

.hoverbox_icon {
  top: 2vw;
  left: 2vw;
  position: absolute;
}

.hoverbox_paragraph {
  color: white;
  margin-bottom: 0.3vw;
  padding-left: 18.3vw;
  font-size: 18px;
  bottom: 0;
  left: 0;
  width: 10.8vw;
  height: 0vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  animation-name: example;
  transition: 0.5s ease;
}

.hoverbox_paragraph p {
  visibility: hidden;
  margin-top: 35vw;
  margin-left: -5vw;
  margin-right: -5vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spa-high:hover .hoverbox_paragraph {
  opacity: 1;
  height: 44vw;
}

.spa-high:hover .hoverbox_paragraph p {
  visibility: visible;
}

.spa-high:hover .hoverbox_title {
  visibility: hidden;
}

.gym-high:hover .hoverbox_paragraph {
  opacity: 1;
  height: 44vw;
}

.gym-high:hover .hoverbox_paragraph p {
  visibility: visible;
}

.gym-high:hover .hoverbox_title {
  visibility: hidden;
}

.restaurant-high:hover .hoverbox_paragraph {
  opacity: 1;
  height: 44vw;
}

.restaurant-high:hover .hoverbox_paragraph p {
  visibility: visible;
}

.restaurant-high:hover .hoverbox_title {
  visibility: hidden;
}

.hoverbox_title {
  color: white;
  padding-top: 30vw;
  padding-left: 3vw;
  visibility: visible;
  position: absolute;
  top: 130px;
}

.lable-off {
  text-align: center;
  padding-top: 7vw;
  font-size: 40px;
  line-height: 10px;
}

.txt-off {
  text-align: center;
  margin-top: 2vw;
}

.off-area {
  background-image: url(./home-banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 400px;
}

.btn-off {
  padding-left: 42vw;
  padding-top: 3vw;
  font-size: small;
}

#btn-off {
  color: #323232;
}

#btn-off {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}
#btn-off:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  z-index: -2;
}
#btn-off:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  color: white;
  background-color: #323232;
  transition: all 0.3s;
  z-index: -1;
}
#btn-off:hover {
  color: white;
}
#btn-off:hover:before {
  height: 100%;
}

/*# sourceMappingURL=project.css.map */
